@import "./formul.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.GeneralTabs{
	.ConnectWalletButton {
		button {
			font-family: 'Roboto';
			font-style: normal;
			position: relative;
			color: #000;
			height: 50px;
			font-weight: 700;
			font-size: clamp(18px, 1.7361vw, 25px);
			padding: 6px 0px;
			width: clamp(120px, 19.93vw, 287px);
			background: linear-gradient(
			  145.83deg,
			  #ff8b99 19.04%,
			  #fca27d 74.02%,
			  #ffcba5 97.03%
			);
			border-radius: 4px;
			@media screen and (max-width: 768px) {
			  font-size: clamp(20px, 1.7361vw, 25px);
			  width: clamp(180px, 19.93vw, 287px);
			}
	  
			&::before {
			  content: '';
			  width: 100%;
			  height: 100%;
			  position: absolute;
			  top: -10px;
			  right: 0px;
			  background: linear-gradient(
				145.83deg,
				#ff8b99 19.04%,
				#fca27d 74.02%,
				#ffcba5 97.03%
			  );
			  z-index: -1;
			  filter: blur(22px);
			  transform: scale(1, 0.8) translateY(20px);
			  opacity: 0;
			  transition: all 0.6s;
			}
			&:hover::before {
			  opacity: 1;
			}
		  }
	}
	// $w: clamp(200px, 95.7638vw, 1379px),
	@include size($h: clamp(300px, 33.4027vw, 481px));
	@include mp($p: clamp(10px, 1.4583vw, 21px) clamp(10px, 1.875vw, 27px) clamp(10px, 2.5694vw, 37px) clamp(10px, 2.2222vw, 32px), $m: auto);
    border-radius: 4px;
	background: #000000;
	// border: 1px solid red;
	.TabList{      	
		.Tab{
			@include size($w: clamp(90px, 18.2638vw, 263px));
			border: 0px;
			border-radius: 0;
			@include font($fm: "Roboto", $fw: 700, $fs: clamp(13px, 1.3888vw, 20px), $c: #888888, $ta: center, $ls: 0.3px);
		}
		.tabactive{
	      color:#CCC51B;
		}
	}
	.partTwo-main{
		@include displayflex($ai: center, $jc: center);
		@include size($w: 100%, $h: clamp(225px, 25.5555vw, 368px));
		@media screen and (max-width: 370px) {
			@include size($w: 100%, $h: clamp(200px, 25.5555vw, 368px));
		}

		@include mp($m: 28px 0 0 0);
		background: #161616;
		border-radius: 8px;
		table{
			width: 100%;
			border: 1px solid #000000;
			border-radius: 8px;
			border-collapse: separate;
			border-spacing: 0 0 ;
			tr{
				border: 1px solid #000000;
			}
			tr th {
				border: 1px solid #000000;
				border-right: 0px solid #000000;
				border-bottom: 0px solid #000000;	
				@include size($w: auto, $h: 37px);
				@include font($fm: "Roboto", $fw: 400, $fs: clamp(14px, 1.1111vw, 16px), $c: #888888, $ta: center, $ls: 0.3px);
			}
			tr td {
				border: 1px solid #000000;
				border-right: 0px solid #000000;
				border-bottom: 0px solid #000000;	
				@include size($w: auto, $h: 29px);
				@include font($fm: "Roboto", $fw: 400, $fs: clamp(12px, 0.9722vw, 14px), $c: #888888, $ta: center, $ls: 0.3px);
				button{
					@include displayflex($fd: row, $ai: center, $jc: center);
					@include size($w: clamp(55px, 6.1805vw, 89px), $h: 17px);
					@include font($fm: "Roboto", $fw: 400, $fs: clamp(12px, 0.9722vw, 14px), $c: #FFFFFF, $ta: center, $ls: 0.3px);
					background: #099317;
					border-radius: 4px;
					margin: auto;
				}
			}
			.empty-td td{
				@include size($w: auto, $h: 273px);
			}
		}
	}
}
